# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/.idea/
zhifa-rpc-client/target/
zhifa-rpc-codec/target/
zhifa-rpc-common/target/
zhifa-rpc-demo/src/test/
zhifa-rpc-demo/target/
zhifa-rpc-proto/target/
zhifa-rpc-server/target/
zhifa-rpc-transport/target/
